html {
    min-height: 100%;
    max-height: auto;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow: visible ;
    z-index: 0;
    margin: 0px;
    height: auto;
    width: auto;
    background: linear-gradient(180deg, #05001b, black);
    background-repeat: no-repeat;
  }

.characters{
    font-family: 'Raleway', sans-serif;
    overflow: visible ;
    z-index: 0;
    margin: auto;
    height: 100%;
    width: auto;
  }

/* Header & Navigation */

.header {
    background-image: url(/Archivos-del-Hado/Img/headerimage.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    z-index: 1;
    margin-bottom: 0px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

hr {
    position: relative;
    bottom: 8px;
}

.logo  {
    max-height: 25%;
    max-width: 25%;
    flex-grow: 2;
    flex-shrink: 1;
    height: 10%;
    width: 20%;
}

.page-title {
    color: white;
    text-decoration: none;
    font-size: xx-large;

}

.navigation {
    display: inline-flex;
    width: fit-content;
    justify-content: center;
}

.navigation a {
    background-color: rgb(165, 165, 165);
    color: black;
    display: inline;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 14px ;
    flex-grow: 1;
    font-size: large;
    text-decoration: none;
    transition: all 0.3s;
}

.navigation a:hover {
    background: white;
    border: 1px solid black;
    color:black;
    text-decoration: none color(black);
    transform: scale(1.2);
    filter: brightness(100%);
}

/* Character navigation */

.char-nav {
    height: auto;
    width: auto;
    margin: 0px 30px;
    padding: 10px;
    text-align: center;
    display: grid;
    position: static;

}

/* Willmont */
.char-nav .will-nav {
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    color: grey;
    padding: 60px;
    margin: 10px;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    opacity: 1;
    z-index: 1;
    transition: transform 0.3s;
    display: flex;
    overflow: hidden;

    /* Imagen */
    &::before {
        content: "";
        transition: opacity 0.3s;
        background-image: url(/Archivos-del-Hado/Personajes/Willmont/Imágenes/willmont-nav.png);
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: auto;
        height: auto;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        opacity: 1;
        -webkit-transition-property: filter, -webkit-filter;
        filter: brightness(50%);
        transition: all 0,3s;
        transition-property: all 2s;
    }


    /* Button Actions */
    &.will-nav:hover {
        color: black;
        padding: 60px;
        width: auto;
        height: auto;
        text-decoration: none;
        border: 1px solid black;
        transform: scale(1.05);

            &::before {
                content: "";
                border-radius: 20px;
                background-size: cover;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                opacity: 1;
                filter:brightness(100%);
            }
        }

    &.will-nav:active {
            transform: scale(1.03)
        }
        
}

/* Veinte */
.char-nav .veinte-nav {
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    color: grey;
    padding: 60px;
    margin: 10px;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    opacity: 1;
    z-index: 1;
    transition: transform 0.3s;


    /* Imagen */
    &::before {
        content: "";
        transition: opacity 0.3s;
        background-image: url(/Archivos-del-Hado/Personajes/Veinte/Imágenes/veinte-nav.png);
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        opacity: 1;
        -webkit-transition-property: filter, -webkit-filter;
        filter: brightness(50%);
        transition: all 0,3s;
        transition-property: all 2s;
    }  

    /* Button Actions */
    &.veinte-nav:hover {
        color: black;
        padding: 60px;
        width: auto;
        height: auto;
        text-decoration: none;
        border: 1px solid black;
        transition: all 0.3s;
        transform: scale(1.05);

            &::before {
                content: "";
                border-radius: 20px;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                opacity: 1;
                filter: brightness(100%);
            }
    
    &.veinte-nav:active {
        transform: scale(1.03)
        }
    }
}

/* Vasia */
.char-nav .vasia-nav {
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    color: grey;
    padding: 60px;
    margin: 10px;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    opacity: 1;
    z-index: 1;
    transition: transform 0.3s;


    /* Imagen */
    &::before {
        content: "";
        transition: opacity 0.3s;
        background-image: url(/Archivos-del-Hado/Personajes/Vasia/Imágenes/vasia-nav.png);
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        opacity: 1;
        -webkit-transition-property: filter, -webkit-filter;
        filter: brightness(50%);
        transition: all 0,3s;
        transition-property: all 2s;
    }  

    /* Button Actions */
    &.vasia-nav:hover {
        color: black;
        padding: 60px;
        width: auto;
        height: auto;
        text-decoration: none;
        border: 1px solid black;
        transition: all 0.3s;
        transform: scale(1.05);

            &::before {
                content: "";
                border-radius: 20px;
                background-size: cover;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                opacity: 1;
                filter: brightness(100%);
            }
    
    &.vasia-nav:active {
        transform: scale(1.03)
        }
    }
}

/* Keyla */
.char-nav .keyla-nav {
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    color: grey;
    padding: 60px;
    margin: 10px;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    opacity: 1;
    z-index: 1;
    transition: transform 0.3s;


    /* Imagen */
    &::before {
        content: "";
        transition: opacity 0.3s;
        background-image: url(/Archivos-del-Hado/Personajes/Keyla/Imágenes/keyla-nav.png);
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        opacity: 1;
        -webkit-transition-property: filter, -webkit-filter;
        filter: brightness(50%);
        transition: all 0,3s;
        transition-property: all 2s;
    }  

    /* Button Actions */
    &.keyla-nav:hover {
        color: black;
        padding: 60px;
        width: auto;
        height: auto;
        text-decoration: none;
        border: 1px solid black;
        transition: all 0.3s;
        transform: scale(1.05);

            &::before {
                content: "";
                border-radius: 20px;
                background-size: cover;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                opacity: 1;
                filter: brightness(100%);
            }
    
    &.keyla-nav:active {
        transform: scale(1.03)
        }
    }
}

/* Azra */
.char-nav .azra-nav {
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    color: grey;
    padding: 60px;
    margin: 10px;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    opacity: 1;
    z-index: 1;
    transition: transform 0.3s;


    /* Imagen */
    &::before {
        content: "";
        transition: opacity 0.3s;
        background-image: url(/Archivos-del-Hado/Personajes/Azra/Imágenes/azra.nav.png);
        border-radius: 20px;
        background-size: cover;
        position: absolute;
        background-position: center;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        opacity: 1;
        -webkit-transition-property: filter, -webkit-filter;
        filter: brightness(50%);
        transition: all 0,3s;
        transition-property: all 2s;
    }  

    /* Button Actions */
    &.azra-nav:hover {
        color: black;
        padding: 60px;
        width: auto;
        height: auto;
        text-decoration: none;
        border: 1px solid black;
        transition: all 0.3s;
        transform: scale(1.05);

            &::before {
                content: "";
                border-radius: 20px;
                background-size: cover;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                opacity: 1;
                filter: brightness(100%);
            }
    
    &.azra-nav:active {
        transform: scale(1.03)
        }
    }
}

/* Dabria */
.char-nav .dabria-nav {
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    color: grey;
    padding: 60px;
    margin: 10px;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    opacity: 1;
    z-index: 1;
    transition: transform 0.3s;


    /* Imagen */
    &::before {
        content: "";
        transition: opacity 0.3s;
        background-image: url(/Archivos-del-Hado/Personajes/Dabria/Imágenes/dabria-nav.png);
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        opacity: 1;
        -webkit-transition-property: filter, -webkit-filter;
        filter: brightness(50%);
        transition: all 0,3s;
        transition-property: all 2s;
    }  

    /* Button Actions */
    &.dabria-nav:hover {
        color: black;
        padding: 60px;
        width: auto;
        height: auto;
        text-decoration: none;
        border: 1px solid black;
        transition: all 0.3s;
        transform: scale(1.05);

            &::before {
                content: "";
                border-radius: 20px;
                background-size: cover;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                opacity: 1;
                filter: brightness(100%);
            }
    
    &.dabria-nav:active {
        transform: scale(1.03)
        }
    }
}

